[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "bundle/zencoding-zim"]
	path = bundle/zencoding-zim
	url = https://github.com/mattn/zencoding-vim
[submodule "bundle/mxml.vim"]
	path = bundle/mxml.vim
	url = https://github.com/cespare/mxml.vim
[submodule "bundle/actionscript.vim"]
	path = bundle/actionscript.vim
	url = https://github.com/vim-scripts/actionscript.vim--Leider.git
[submodule "bundle/plantmul-syntax"]
	path = bundle/plantmul-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim
